{
  "env": {
    "node": false
  },
  "extends": [
    "react-app",
    "../.eslintrc"
  ],
  "overrides": [
    {
      "env": {
        "node": true
      },
      "files": [
        "src/**/*.test.js",
        "src/setupTests.js"
      ],
      "globals": {
        "assertLater": true
      }
    }
  ]
}
