body {
  color: #444;
  font-family: 'Roboto', sans-serif;
}

h2 {
  color: #888;
  font-size: 1.75rem;
  font-weight: 700;
}

h3 {
  color: #888;
  font-size: 1.5rem;
  font-weight: 700;
}

a, a:hover, a:focus {
  color: #2ba560
}

.form-row > div {
  margin-bottom: 0.5rem;
}

@media (min-width: 576px) {
  .form-row > div {
    margin-bottom: 0;
  }
}
