header {
    align-items: center;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    display: flex;
    padding: 10px 20px;
    width: 100%;
}

img {
    height: 50px;
}

.page-title {
    margin-left: 10px;
}
