.resource {
    border: 1px solid #888;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    min-height: 100px;
}

.resource-name, .resource-description, .resource-link {
    display: block;
}
